<mat-card style="margin-top:2%">
  <mat-card-header>
    <mat-card-title>
      Select Home Page items 
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column">
      <div fxLayoutAlign="center">
        <button mat-stroked-button color="warn" [routerLink]="'diplomas'">Diplomas</button>
      </div>
      <div fxLayoutAlign="center" style="margin-top:2%">
        <button mat-stroked-button color="warn" [routerLink]="'cards'">Cards</button>
      </div>
      <div fxLayoutAlign="center" style="margin-top:2%">
        <button mat-stroked-button color="warn" [routerLink]="'news'">News</button>
      </div>
      <div fxLayoutAlign="center" style="margin-top:2%">
        <button mat-stroked-button color="warn" [routerLink]="'location'">Location</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top:5%">
  <router-outlet></router-outlet>
</div>