<app-header></app-header>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top:2%">

  <mat-card fxFlex.gt-sm="50" fxFlex.lt-md="100">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Student's CV</mat-card-title>
      <mat-card-subtitle>This section is dedicated to our students that are currently searching for a job.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://bucharest.sae.edu/media_thumbs/Bucharest/55414_hireme_600x125.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        <span style="color:orange">Chitic Valentin</span> (graduate, class 2017-2018, Diploma Inginerie Audio) - <a href="https://drive.google.com/file/d/0B_E17sFaHJ0HSHlya3lndmlvN2NDVHpEQWExdmV4R2tLZDNR/view?usp=sharing">CV</a>
      </p>
      <p>
        <span style="color:orange">Andrei Ropota</span> (graduate, class of 2015-2016, Diploma Audio Engineering) - <a href="https://drive.google.com/file/d/0Bz3egftw3v9_MHkzOVlTbU5GM28/view?usp=sharing">CV</a>
      </p>
      <p>
        <span style="color:orange">Florin Cochina</span> (graduate, class of 2015-2016, Diploma Audio Engineering) - <a href="https://drive.google.com/file/d/0Bz3egftw3v9_VnE4akgyMTcwdnM/view?usp=sharing">CV</a>
      </p>
      <p>
        <span style="color:orange">Traian Ionescu</span> (graduate, class of 2015-2016, Diploma Audio Engineering) - <a href="https://drive.google.com/file/d/0Bz3egftw3v9_dWk3VEdHNU5fRmc/view?usp=sharing">CV</a>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>


<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1rem" style="margin:2% 0 2% 0">

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Student Showcase
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:red;text-align:center">Audio Engineering show case</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Hand painted scene
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">painted scene by: <b>Mary Haidar</b></p>
      </mat-card-content>
    </mat-card>

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Japancese mountain scene
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">Japanese scene by:: <b>Hani Issa</b></p>
      </mat-card-content>
    </mat-card>

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Mech Robot
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">Mech Robot by: <b>Alex Dobrea</b></p>
      </mat-card-content>
    </mat-card>

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Aylin
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">Aylin by:: <b>Mary Haidar</b></p>
      </mat-card-content>
    </mat-card>

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Capra demon
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">Capra Demon by: <b>Alex Dobrea</b></p>
      </mat-card-content>
    </mat-card>

  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          MAV T-HAWK
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">MAV T-HAWK by: <b>Hani Issa</b></p>
      </mat-card-content>
    </mat-card>

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Fennec Fox
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">Fennec Fox by: <b>Mary Haidar</b></p>
      </mat-card-content>
    </mat-card>

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Column debris
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">Column debris by: <b>Hani Issa</b></p>
      </mat-card-content>
    </mat-card>

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Lost Cosmonaut
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">Lost Cosmonaut by: <b>Hani Issa</b></p>
      </mat-card-content>
    </mat-card>

    <mat-card style="cursor:pointer">
      <mat-card-header>
        <mat-card-title>
          Dorin Croitoru
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:orange;text-align:center">Final Project by: <b>Dorin Croitoru</b></p>
      </mat-card-content>
    </mat-card>

  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>

  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>

  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>

  </div>



  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Student Showcase
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:red;text-align:center">Audio Engineering show case</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">

      <iframe fxFlex="15" width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/186160741&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

      <iframe fxFlex="15" width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160213718&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

      <iframe fxFlex="15" width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152786453&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

      <iframe fxFlex="15" width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/150886323&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

      <iframe fxFlex="15" width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/150738450&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>


  </div>


</div>

<app-footer [className]="'buttomToolBarActive'"></app-footer>
