<div fxLayout="column" fxLayoutGap="2%">
    <app-header></app-header>
    
    
    
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            About Us
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://bucharest.sae.edu/media_thumbs/25310_3_600x125.jpg">
        <mat-card-content>
          <p>
            SAE Institute is the largest worldwide and most prestigious private college for Sound / Audio Engineering,
            Production and Film Making, Interactive Animation and Game Design, and Applied Multimedia.
          </p>
          <p>
            SAE provides practical training courses, as well as academic degree programs (Bachelor Degree, Master), designed
            to help students not only gather the theoretical aspects necessary for their future career, but most
            importantly,the practical experience that allows them to practice their profession since day one.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
 </div>