<app-header></app-header>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top:2%;">
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Discounts</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://bucharest.sae.edu/media_thumbs/Espana/25963_Grado_Universitario_en_video_y_cine_digital_600x125.jpg">
    <mat-card-content>

      <p style="font-size:20px;font-face:bold;color:orange">
        2018 Student discount
      </p>
      <p>
        Any individual who is enrolled on a SAE Diploma course will receive a <span style="color:orange">10%</span> discount on the published Short Course fee when
        they enroll on any Short Course.
      </p>

      <p style="font-size:20px;font-face:bold;color:orange">
        Friend discount
      </p>

      <p>
        Two individuals or more that enrol together on a Short Course will each receive a <span style="color:orange">5%</span> discount on the published Short Course
        fee.
      </p>
      <br>
      <p>
        Only one discount may be used per person and the above discounts may not be combined with one another or any other offer.
      </p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>




<app-footer></app-footer>
