<div class="containerPositionMiddle">
  <div class="containerEnroll" [class.responsiveContainerEnroll]="( isHandset$ | async)">
    <form [formGroup]="formGroupSubmit" (ngSubmit)="submitForm()">
      <mat-form-field>
        <mat-select placeholder="Gender" formControlName="genderControll" required>
          <mat-option *ngFor="let gender of EnrollGender" [value]="gender.value">
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!formGroupSubmit.get('genderControll').valid">Choose a Gender</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="enrollControllFirstName" required>
        <mat-error *ngIf="!formGroupSubmit.get('enrollControllFirstName').valid">Please write down your first name</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="enrollControllLastName" required>
        <mat-error *ngIf="!formGroupSubmit.get('enrollControllLastName').valid">Please write down your last name</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cell Phone</mat-label>
        <input matInput placeholder="Placeholder" formControlName="enrollControllCellPhone" required>
        <mat-error *ngIf="formGroupSubmit.get('enrollControllCellPhone').errors.required && formGroupSubmit.get('enrollControllCellPhone').touched">Please write down your phone call</mat-error>
        <mat-error *ngIf="formGroupSubmit.get('enrollControllCellPhone').errors.pattern">The phone you write is not good</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder" formControlName="enrollControllEmail" required>
        <mat-error *ngIf="formGroupSubmit.get('enrollControllEmail').errors.required && formGroupSubmit.get('enrollControllEmail').touched">Please write down your email</mat-error>
        <mat-error *ngIf="formGroupSubmit.get('enrollControllEmail').errors.email">Please
          enter a valid email address</mat-error>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br>
      <h4>SAE Courses</h4>
      <mat-radio-group class="radio-group" formControlName="enrollCourses" required>
        <mat-radio-button class="radio-button" color="primary" *ngFor="let course of courses" [value]="course">
          {{course}}
        </mat-radio-button>
      </mat-radio-group>
      <br>
      <br>
      <mat-divider></mat-divider>


      <div class="containerPositionMiddle">
        <div matTooltip="You need to complete all the fields" *ngIf="!formGroupSubmit.valid">  
          <button mat-flat-button color="primary" type="submit" disabled>
            Enroll
          </button>
        </div>
        <div >
          <button mat-flat-button color="primary" type="submit" *ngIf="formGroupSubmit.valid">
            Enroll
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
