<div fxLayout.lt-lg="column" fxLayoutGap="10px" fxLayout="row" class="marginForRowDivs centerItems" class="centerItems">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Sae Enroll</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        New Audio Engineering intake starting January 2019. Ask now for more information at bucharest@sae.edu.
      </p>
    </mat-card-content>
    <mat-card-actions class="centerItems">
      <button mat-raised-button color="warn" (click)="moveTo('enroll')">ENROLL NOW</button>
      <button mat-raised-button color="primary">NEWS LETTER</button>
    </mat-card-actions>
  </mat-card>

  <div fxLayout="column">
    <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row' ">
      <mat-card class="cardMargins">
        <mat-card-content>
          <mat-icon>settings_input_component</mat-icon>
          <p>Diploma in Audio Engineering </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardMargins">
        <mat-card-content>
          <mat-icon>book</mat-icon>
          <p>Diploma in Audio Engineering </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardMargins">
        <mat-card-content>
          <mat-icon>mic</mat-icon>
          <p>Diploma in Audio Engineering </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardMargins">
        <mat-card-content>
          <mat-icon>create</mat-icon>
          <p>Diploma in Audio Engineering </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row' ">
      <mat-card class="cardMargins">
        <mat-card-content>
          <mat-icon>photo_size_select_actual</mat-icon>
          <p>Diploma in Audio Engineering </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardMargins">
        <mat-card-content>
          <mat-icon>pets</mat-icon>
          <p>Diploma in Audio Engineering </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardMargins">
        <mat-card-content>
          <mat-icon>timeline</mat-icon>
          <p>Diploma in Audio Engineering </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="cardMargins">
        <mat-card-content>
          <mat-icon>photo_library</mat-icon>
          <p>Diploma in Audio Engineering </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



<div [fxLayout]="!( isHandset$ | async ) ? 'row ' : 'column'" fxLayoutAlign="center" fxLayoutGap="5em" class="marginForRowDivs">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>WorkShop Live Sound</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://bucharest.sae.edu/media_thumbs/Images/54593_p_320x175.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="centerItems">
      <button mat-raised-button color="primary">Read More</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Workshop Ableton Live 10</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://bucharest.sae.edu/media_thumbs/Bucharest/News/55550_Workshop_Ableton_live_10_320x175.png"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="centerItems">
      <button mat-raised-button color="primary">Read More</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Workshop Ableton Live 10</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://bucharest.sae.edu/media_thumbs/Bucharest/Gallery/55169_site_config_320x175.jpg"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="centerItems">
      <button mat-raised-button color="primary">Read More</button>
    </mat-card-actions>
  </mat-card>
</div>





<div [fxLayout]="( isHandset$ | async) ? 'column' : 'row'" fxLayoutAlign="space-evenly center" class="marginForRowDivs">
  <mat-card>
    <mat-card-title>News</mat-card-title>
    <mat-card-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Audio Engineering Diploma - 29th of January 2019</span>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">

        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            {{node.name}}
          </li>
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-card-content>
  </mat-card>



  <mat-card>
    <mat-card-title>Location</mat-card-title>
    <mat-card-content>
      <div class="saeInfo">
        <div>
        <p>Audio Engineering Diploma - 29th of January 2019</p>
        <p>355 - 357 Grivitei Street</p>
        <p>Bucharest, District 1</p>
        <p>010717, Romania</p>
        <p>Opening hours : Monday to Friday</p>
        <p>From : 10:00 am - 6:00 pm</p>
        <p>Tel: + 40 758 014 611</p>
        <p>Email: bucharest@sae.edu</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
