.marginTop {
  margin-top:2%;
}

.example-tree-invisible {
  display: none;
}

mat-icon {
  margin-right: 1em;
  box-sizing: border-box;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.buttomToolBar {
  top: 10vh;
  bottom:0;
  position: relative;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
  font-size: 1.4vh;
}


mat-toolbar-row{
  font-size:1.6vh;
}




