/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.shadow {
    -webkit-box-shadow: 0px 0px 18px 12px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 18px 12px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,1) !important;
  }
