<app-header></app-header>

<div fxLayout="row" fxLayoutAlign="center" style="margin-top:2%">

  <mat-card fxFlex.gt-sm="55" fxFlex.lt-md="100">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> <p style="text-align:center">Audio Engineering and Animation & Game Design Diploma</p></mat-card-title>
      <mat-card-subtitle><p style="color:red;"><b>To register, follow the steps below :</b></p></mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Complete the registration form, which you can find at this <a href="https://drive.google.com/file/d/0BzeqidB6SsgJb0ttQXNRc09fUEk/view?usp=sharing">LINK</a>
      </p>
      <p>
        Read and complete the contract, found at this <a href="https://drive.google.com/file/d/0BzeqidB6SsgJOTVoRGdUTVhFWFU/view?usp=sharing">LINK</a> (NOTE: a translated version will be available soon)
      </p>
      <p>
        Study our payment plans and choose the one that suits you best: <a href="https://drive.google.com/file/d/0B_E17sFaHJ0HYm1JdzYtWTZfS2s/view?usp=sharing">LINK</a>
        <p>
          Perform an audiogram and send it by e-mail: bucharest@sae.edu (Only for those interested in the Audio Engineering Diploma)
        </p>
        <p>
          Send us a copy of your ID, copy of high school diploma (or high school certificate attesting that you finished 12 grades)
          at our e-mail: bucharest@sae.edu
        </p>
        <p>
          Alternatively, and preferably, collect all these documents in a folder and come with them at our office found on Calea Grivitei
          no. 355-357, Bucharest, Romania, with 4 photos ID type. If this is the first time you'll visit us, we will also
          give you a tour of the school! :)
        </p>
        <p>
          For further information, please contact us! Phone no. : +40758.014.611
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


</div>

<app-footer></app-footer>